.bor
{
  border: 10px solid black;
  margin: 30px;
  padding: 20px;
}

h1
{
  color:black;
  font-size:40px;
  background-color:skyblue;
}

h2
{
   color:green;
   font-size:30px;
}

.im
{
  border-radius: 50%;
  margin:50px;
  float:left;
  
}


.ss
{
  margin-left:50px;
  margin-top: 10px;
}

.s
{
  margin-left:570px;
  margin-top:20px;
}

.sss
{
  margin-top:30px;
}
table,tr,th,td
{
  border: 1px solid black;
  border-collapse:collapse;
  padding: 7px;
  text-align:center;
}

tr:nth-child(odd)
{
background-color: #f8ffd1;
}

.mar
{
  margin-left:500px;
}

.right
{
  position: absolute;
  right: 212px;
  width: 700px;
  margin:10px;
  padding: 10px;
}

.rt
{
  position: absolute;
  right: 220px;
  top: 600px;
  width: 700px;
  margin:20px;
  padding: 10px;
}

.left
{
  right: 212px;
  top: 10px;
  width: 400px;
  margin:20px;
 
  padding: 10px;
}